<div class="prescription-wrapper mat-elevation-z8">
    <h1>Prescription</h1>
    <div class="container">
    <div class="pres-input">
     <form  (submit)="getFormValue($event)" ngNativeValidate>
         <div class="form-group row">
             <label for="Type" class="col-sm-2 ">Type:</label>
             <select  [(ngModel)]="type" name="type" id="type" required>
             <option value="Tablets">Tablets</option>
             <option value="Cream">Cream</option>
             <option value="lotion">lotion</option>
             <option value="Powder">Powder</option>
             <option value="oil">oil</option>
             <option value="Kashayam">Kashayam</option>
             </select>
         </div>
         <div class="form-group row">
             <label for="MedicineName" class="col-sm-4 ">Name:</label>
             <div class="col-sm-7">
               <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Name" required>
             </div>
            </div>
            <div class="form-group row">
             <label for="Dosage" class="col-sm-4 ">Dosage:</label>
             <div class="col-sm-7">
               <input type="text" class="form-control" [(ngModel)]="dosage" name="dosage" placeholder="Dosage" >
             </div>
            </div>
            <div class="form-group row">
                <label for="Quantity" class="col-sm-4 ">Quantity:</label>
                <div class="col-sm-7">
                  <input type="number" class="form-control" [(ngModel)]="qty" name="qty" placeholder="Quantity" required>
                </div>
               </div>
            <div class="form-group row">
             <label for="Frequency" class="col-sm-4 ">Frequency :</label>
             <div class="col-sm-7">
               <input type="text" class="form-control" [(ngModel)]="frequency" name="frequency" placeholder="x-x-x" required/>
             </div>
            </div>
            <div class="form-group row">
             <label for="note" class="col-sm-4 ">Extra Note :</label>
             <div class="col-sm-7">
               <input type="text" class="form-control" [(ngModel)]="note" name="note" placeholder="Note">
             </div>
            </div>
      <input type="submit" > 
     </form>
    </div>
    <div class="prescriptionList">
        <table class="table table-bordered">
          <tr>
            <th>No</th>
            <th>Type</th>
            <th>Name</th>
            <th>Dosage</th>
            <th>Qty</th>
            <th>Freq</th>
            <th>Note</th>
          </tr>
          <tr *ngFor="let element of list;let i=index;" >
              <td>{{i+1}}</td>
              <td>{{element.type}}</td>
              <td>{{element.name}}</td>
              <td>{{element.dosage}}</td>
              <td>{{element.qty}}</td>
              <td>{{element.frequency}}</td>
              <td>{{element.note}}</td>
              <td><button class="trash" (click)="delete(i)"><span class="material-icons">
                delete
                </span></button></td>
          </tr>
        </table>
        <button style="float:right" class="btn btn-primary" type="submit">Confirm</button>
    </div>
</div>

</div>