<div class="registrationform-container">
  <h1>Registration</h1>
  <form #userform="ngForm" (ngSubmit)="onSubmit(userform.value)" >
  <div class="form-group row">
      <label for="Name" class="col-sm-1 col-form-label">Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="name" placeholder="Name" name="name" ngModel>
      </div>
  </div>
  <div class="form-group row">
    <label for="Age" class="col-sm-1 col-form-label">Age</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="age" placeholder="Age" name="age" ngModel>
    </div>
  </div>
  <div class="form-group row">
      <label for="Date" class="col-sm-1 col-form-label">DOB</label>
      <div class="col-sm-2">
        <input type="date" class="form-control" id="dob" placeholder="dd/mm/yy" name="dob" ngModel>
      </div>
    </div>
    <div class="form-group row">
      <label for="Gender" class="col-sm-1 col-form-label">Gender</label>
      <div class="col-sm-3 justify-between">
          <input type="radio" id="male" name="gender" value="male"  ngModel>
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female"  ngModel>
          <label for="female">Female</label>
          <input type="radio" id="other" name="gender" value="other"  ngModel>
          <label for="other">Other</label>
      </div>
    </div>
  <div class="form-group row">
      <label for="Address" class="col-sm-1 col-form-label">Address</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="address" placeholder="Address" name="address" ngModel>
      </div>
    </div>
    <div class="form-group row">
      <label for="Contactno" class="col-sm-1 col-form-label">Contact Number</label>
      <div class="col-sm-2">
        <input type="tel" class="form-control" id="contactnum" placeholder="Mobile Number" name="contactnum" ngModel>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Enroll</button>
    
</form>
</div>