
<div class="appointmentform-container">
    <h1>Appointment</h1>
    <form>
    <div class="form-group row">
        <label for="PatientId" class="col-sm-1 col-form-label">Patient ID</label>
        <div class="col-sm-7">
          <input type="number" class="form-control" id="pid" placeholder="Patient ID">
        </div>
    </div>
    <div class="form-group row">
      <label for="Name" class="col-sm-1 col-form-label">Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputPassword" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
        <label for="Age" class="col-sm-1 col-form-label">Age</label>
        <div class="col-sm-7">
          <input type="number" class="form-control" id="inputPassword" placeholder="Age">
        </div>
      </div>
      <div class="form-group row">
        <label for="Reason" class="col-sm-1 col-form-label">Reason</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="reason" placeholder="Reason">
        </div>
      </div>
      <div class="form-group row">
        <label for="Date" class="col-sm-1 col-form-label">Date</label>
        <div class="col-sm-2">
          <input type="date" class="form-control" id="date" placeholder="Date">
        </div>
      </div>
      <button type="submit" class="btn mb-2">Submit</button>
      
  </form>
  </div>