/* sidenav */
.sidenav {    
    height: 100%;
    width: 4%;
    position: fixed;
    z-index: 1;
    top: 0;
    /* left: 0; */
    background-color: #e1b8cd;
    overflow-x: hidden;
    padding-top: 3.5rem;
  }
  .sidenav:hover{
      width: auto;
      overflow: visible;
      transition: .2s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 3.5rem;}
    .sidenav a {font-size: 18px;}
  }