<div class="sidenav">
    <a href="/"><span class="material-icons icon">dashboard</span>DashBoard</a>
    <a routerLink="/register"><span class="material-icons icon">person_add</span>Register</a>
    <a href="/appointment"><span class="material-icons icon">note_add</span>Appointment</a>
    <a href="/search"><span class="material-icons icon">search</span>Search</a>
    
  </div>
  <!-- <mat-nav-list id="list">
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active"><span class="material-icons icon">dashboard</span>DashBoard</a>
    <a mat-list-item routerLink="/register" routerLinkActive="active"><span class="material-icons icon">person_add</span>Register</a>
    <a mat-list-item routerLink="/appointment" routerLinkActive="active"><span class="material-icons icon">note_add</span>Appointment</a>
    <a mat-list-item routerLink="/search" routerLinkActive="active"><span class="material-icons icon">search</span>Search</a>
    
    
  </mat-nav-list> -->